.courses-container {
  & .hidden {
    display: none;
  }
}

#course-search {
  border: 2.5px solid var(--accent-90);
  border-radius: 100px;
  padding: 3px 8px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}